dist
package-lock.json
node_modules
uploads/**
.idea
.vscode
*.log
.env*
*:Zone.Identifier

web_app/.eslintcache

!**/.gitkeep

**/.scannerwork/
**/localStorage/

web_app/public/favicon.icoZone.Identifier

*.Identifier
